[submodule "deps/ngx_url_parser"]
	path = deps/ngx_url_parser
	url = https://github.com/Aldor007/ngx_url_parser
[submodule "deps/uriparser"]
	path = deps/uriparser
	url = git://git.code.sf.net/p/uriparser/git
