language: node_js
node_js:
    - "0.8"
    - "0.10"
    - "0.12"
    - "4"
    - "5"
env:
    - CXX=g++-4.8
addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
        packages:
            # node 4 and 5
            - g++-4.8
            # uriparser
            - automake
            - autoconf
            - libtool
            - pkg-config
script:
    - jasmine-node --verbose tests
